.input{
    padding: .6rem .8rem;
    font-size: 1.2rem;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 1px;
    width: auto;
    max-width: fit-content;
    margin: 10px;
    box-shadow: 1px -3px 52px -5px rgba(0, 0, 0, .77);
    cursor: pointer;
}