.card{
    display: flex;
    justify-content: flex-start;
    height: 100%;
    width: auto;
    max-width: 360px;
    background-color: #808080;
    padding: 20px;
    box-shadow: 0px 0 3px 1px #f0f0f0;
    margin: 10px;
    border-radius: 1px
}

.imageCard {
    display: flex;
    width: auto;
    max-width: 100px;
}

.details {
    display: flex;
    width: auto;
    max-width: fit-content;
    margin: 20px;
}